<!--ユーザ・投稿部分テンプレート設定-->
<%= render 'books/list', new_book: @new_book, user: @user %>

<div class="column col-md-8 offset-md-1">
<h2>Users</h2>
<!--ユーザー一覧-->

<table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
    <!--プロフィール画像-->
      <td>
        <%= image_tag user.get_profile_image(100, 100) %>
      </td>
  　<!--ユーザー名-->
      <td>
        <%= user.name %>
      </td>
      <!--showページ(ユーザー)へのリンク-->
      <td>
        <%= link_to "Show", user_path(user) %>
      <td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
