<!--ユーザーの詳細、ユーザーごとのBooks一覧-->

<h1>Books</h1>

<div>
  <!--ユーザー画像-->
  <p><%= image_tag 'no_image.jpg' %></p>

  <!--本の情報-->
  <% if @user.books.any? %>
    <% @user.books.each do |book| %>
      <p>Title
      <%= link_to book.title, book_path(book.id) %>
      </p>
      <p>Opinion<%= book.caption %></p>
    <% end %>
    <% else %>
      <p>No books available</p>
    <% end %>
</div>