<!--ユーザ・投稿部分テンプレート設定-->
<%= render 'books/list', new_book: @new_book, user: @user %>

<!--テーブルのレイアウト-->


<!--ユーザーごとのBooks一覧-->
<h1>Books</h1>

<table>
<thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
</thead>

<tbody>
 <% @books.each do |book| %>

  <div>
    <tr>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td>  <%= link_to book.title, book_path(book) %></td>
      <td> <%= book.caption %></td>
    </tr>
  </div>
 <% end %>
</tbody>
</table>